<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="{% static 'image/logo1.ico' %}" type="image/x-icon">
    <style>
        #d1{
            padding: 100px;
            
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
        <div id="d1">
            <div style="background-color: aquamarine; height: 70px;">
                <h1 style="padding: 10px; margin-left: 200px;">IGNTU : Regional Campus Manipur</h1>
            </div>
            <div>
                <p><strong>About the Regional Campus, Manipur -</strong><br>
                    The Indira Gandhi National Tribal University, Regional Campus Manipur (IGNTU-RCM) was established in
                    2009 as a Regional Centre of IGNTU, Amarkantak. The IGNTU-RCM is presently functioning from a temporary
                    campus situated at Adimjati Shiksha Ashram, Imphal. The permanent campus of IGNTU-RCM is located in the 
                    green and picturesque village of Makhan (Senapati District) which is 25 kms from Imphal.
                    The construction of the campus is presently being undertaken in the 301 acres large area of land
                    allocated by the Government of Manipur. The campus presently has four departments viz. Departments of
                    Political Science, Sociology, Social Work, and Tribal Studies offering Master Degree Programmes. The campus
                     has also started offering Ph.D course in Political Science and Social Work from academic session 2014-15.</p>
                     <br>
                     <p>
                        <strong>How to Reach IGNTU-RCM ?</strong><br>
                        The nearest Airport is Tulihal International Airport, Imphal which is approximately 31 kms from the 
                        campus in Makhan. Imphal airport is connected by daily direct flights from Delhi, Kolkata and Guwahati. 
                        The journey from airport to the campus can be completed by road through taxi and auto services available at 
                        the airport.
                     </p>
                     <p>
                        <strong>Address :</strong><br>
                        Indira Gandhi National Tribal University, Regional Campus Manipur, Makhan village, 
                        P.O. Awang Sekmai, Kangpokpi district, Manipur 795136, India.
                     </p>
          
            </div><br><hr><br>
            <div style="display: flex;">
                <img src="{% static 'image/ng_ngalengnam.jpg' %}" alt="Image">
                <p style="margin-left: 150px;"><strong>Prof. Ng. Ngalengnam<br>
                    Director , Regional Campus Manipur</strong><br>
                    Contact No. : +91-9863309484<br>
                    eMail : director.rcm@igntu.ac.in</p>
            </div>
            <p><center><strong >Message:</strong></center>
                "Standing on the top of a beautiful mountain, I could see the hills and valleys with dense greenery" 
                around. The Indira Gandhi National Tribal University Regional Campus-Manipur (IGNTU-RCM) came into 
                existence on 9th September, 2009. The campus with an area of 301 acres is located at Makhan, 
                P O Awang Sekmai, under Kangpokpi District, Manipur. The university is known for its scenic beauty 
                amid those colourful people. This university is the lone Regional Campus of Indira Gandhi National 
                Tribal University Amarkantak (M.P). University is the highest centre for learning and obtaining 
                knowledge of all kinds. Intending to achieve its goal, the Regional Campus Manipur is providing PG
                 and Ph.D programmes in five disciplines- namely, Political Science & Human Rights, Social Work, 
                 Computer Science, Sociology, Tribal Studies and Physical Education. The primary objectives of my 
                 university as per its ordinance are to provide avenues of higher education and research facilities 
                 primarily for the tribal population of India. Further, to disseminate and advance knowledge by
                  providing instructional and research facilities in tribal art, culture, custom, tradition, 
                  economy and ways of life. It also focuses on formulating tribal centric development model by 
                  organizing various academic activities such as conferences, workshops, seminars, research works
                   etc. on issues relating to tribal nature. However, the Region Campus Manipur stands open without
                    cultural and territorial limits. The campus is committed to overall growth in academic, 
                    intellectual, and professional and also to a cordial relationship among the students, faculty
                     and staff by providing a peaceful academic atmosphere and congenial environment. The Regional 
                     Campus Manipur is known to the outside world for its wide-ranging knowledge, determination as
                      well and devotion of the faculty, and staff and commendable achievements of the students.
                       The university will continue to strive for social transformation, development of the nation 
                       and service to mankind as a part of good citizens. I am delighted to appreciate the 
                       achievements attained by Regional Campus Manipur so far and its headway. I hope my Regional 
                       Campus of IGNTU Manipur will remain a healthy centre for excellence in every field of
                        knowledge.</p>
        </div>
        <a href="/">back</a>
</body>
</html>
